{% extends "index.html" %}
{% load static %}
{% block title %}
Home | Fraud Detection System
{% endblock %}

{% block content %}
<main id="main" >

    <!-- ======= Hero Section ======= -->
    <section id="homesection" style="padding: 0px 0px;">
      Securing real-time payments requires more than simply deploying the same risk management and fraud prevention solutions faster. When it comes to real-time payments, every step of the transaction-processing life cycle, including fraud detection, must be completed in fractions of a second.
      That requires a fraud risk management approach designed for real-time. It means employing up-to-date processes and technologies to meet increasing consumer and business expectations while managing financial crime risk effectively. 
      
      CAUGHT U is a state-of-the-art fraud risk management approach designed for real time payments and transaction systems, consisting of processes and technologies to meet increasing consumer and business expectations while managing financial crime risk effectively at scale. 

    
    
    </section><!-- End Hero -->
  
    </main>
  
{% endblock %}